<div>
  <la-nav></la-nav>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <la-footer></la-footer>
</div>

<!-- <div [ngSwitch]="day">
    <p class="inline">Today is </p>
    <p *ngSwitchCase="0" class="inline special">Sunday</p>
    <p *ngSwitchCase="1" class="inline special">Monday</p>
    <p *ngSwitchCase="2" class="inline special">Tuesday</p>
    <p *ngSwitchCase="3" class="inline special">Wednesday</p>
    <p *ngSwitchCase="4" class="inline special">Thursday</p>
    <p *ngSwitchCase="5" class="inline special">Friday</p>
    <p *ngSwitchCase="6" class="inline special">Saturday</p>
    <p *ngSwitchDefault class="inline special">Invalid Day !!</p>
  </div> -->


<!-- <h4>
  ng-if-else
</h4>
<div *ngIf="subscribed===false; else subcribedTemplate;">
  <p>Subcribe to access great features</p>
</div>
<ng-template #subcribedTemplate>
  <p>You are PRO member now!!</p>
</ng-template>
<button class="btn btn-warning" (click)="OnSubscribeToggle()">Click to {{subscribed ? "Unsubscribe" : "Subscribe" }}</button> -->